body { margin: 0 auto; padding: 0; }
#sc-login #sc-logo {

}
#sc-login #sc-logo {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}
#sc-login #sc-logo img {
	display: block;
	margin: 0 auto;
	
}

#sc-login #sc-logo h1 {
	font-family: Helvetica,arial,serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
}

#sc-login #sc-header {
	height: 300px;
	background: none repeat scroll 0 0 #333333;
	border-bottom: 10px solid #4F9BD8;
	position: relative;
}
#sc-login-form {
	width: 500px;
	margin: 0 auto;
	margin-top: 60px;
}
#sc-login-form fieldset {
	border: none;
}
#sc-login-form label { display: none; }
#sc-login-form .control-group { width: 200px; float: left; }
#sc-login-form .control-group a { display: none; }
#sc-login-form .control-group .add-on { display: none; } 

#sc-login-form fieldset .control-group .btn-group { float: right; }
#sc-login-form fieldset .control-group:nth-child(3) { width: 100px; }

#sc-login-form fieldset .control-group .btn.btn-primary.btn-large {
	padding: 7px 27px;
	background: #4F9BD8;
	border: none;
}
#sc-login-form input {
	border-radius: 6px;
	font-size: 20px;
	height: auto;
	line-height: 20px;
	padding: 5px 0 0 5px;
	border: 1px solid #dedede;
font-size: 20px;
color: #666;
}
#sc-login-form fieldset .control-group .btn.btn-primary.btn-large i { display: none; }
.input-prepend.input-append, #mod-login-username, #mod-login-password { width: 95%; }













#sc-status { float: right; margin-right: 30px;}
.sc-status li > .dropdown-menu { border-top: 1px solid transparent; }
/*.sc-status > li { display: inline-block; float: left; margin-right: 2px;}*/
.sc-status > li > a {
	color: #fff;
	padding: 5px 15px;

	/*background-color: #4d4d4d;*/
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 0;
	-webkit-transition: background-color 0.25s ease-out;
	transition: background-color 0.25s ease-out;
	font-weight: bold;
	display: block;
}.sc-status > li > a:hover { text-decoration: none; }

.sc-status > li {
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 0;
	background-color: #4d4d4d;
}

.sc-status > li:hover > a { 
	background-color: #88b719; 
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 0;

	

}
/*.sc-status .dropdown li > a:hover { background-color: #88b719; }*/
/*.sc-status .dropdown:hover > a { background: #88b719; }*/